

$primary-color: #3650D0;
$gray-color: rgba(219, 219, 219, 0.685);

*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
#root{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    // background-color: aqua;
    display: flex;
    justify-content: center;
}

.container{
    padding-top: 70px;
    width: 1140px;
    margin: auto;
   
    // background-color: antiquewhite;
}



// --------------------------------header---------------------------------------------

.none{
    display: none;
}

.header{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: rgb(252, 252, 252);
    align-items: center;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    border-bottom: 1px solid rgba(197, 197, 197, 0.466);
    z-index: 10;



    &__logo{
        width: 25%;
        height: fit-content;
        cursor: pointer;
        display: flex;
        padding-left: 2.5%;
        justify-content: space-between;
        // background-color: blue;

        &--item{
            width: 80px;
            height: 80px;
            background: url("../logo/logo.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
    
    
    }
    &__items{
        // background-color: aquamarine;
        justify-content: space-around;
        display: flex;
        width: 40%;
        height: fit-content;

    }
    &__cart{
        margin-right: 20px;
        width: 35px;
        height: 30px;
        // background-color: yellow;
        text-align: center;
        height: fit-content;
        display: flex;
        justify-content: right;
        cursor: pointer;


        &--detail{
            border-radius: 10px;
            border: 3px solid $gray-color;
            right: 50px;
            top: 60px;
            position: absolute;
            width: 470px;
            background-color: white;
            height: 300px;
            -webkit-box-shadow: 0px 0px 13px -8px rgba(0,0,0,0.57); 
            box-shadow: 0px 0px 13px -8px rgba(0,0,0,0.57);

            

            .cart--detail--total{
                width: 100%;
                // background-color: #0000b1;
                display: flex;
                justify-content: right;
                align-items: center;
                padding-right: 10px;

                :first-child{
                    margin-right: 10px;
                }
                :last-child{
                    color: red;
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }

        &--rounded{
            width: 35px;
            height: 35px;
            background-color: rgb(0, 16, 163);
            text-align: center;
            line-height: 35px;
            border-radius: 5px;
            padding-left: -15px;
            position: relative;
            -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27); 
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);

            i{
                z-index: 2;
                color: white;
            }
        }
        &--number{
            position: absolute;
            background-color: red;
            font-size: 12px;
            border-radius:10px;
            color: white;
            width: 17px;
            height: 17px;
            line-height: 20px;
            right: -5px;
            top: -8px;
            -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27); 
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.27);

        }
    }
    &__btn--login{
        width: 22%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // background-color: aqua;



        &--rounded{
            width: 120px;
            // background-color: aquamarine;
            height: 30px;
            text-align: center;
            line-height: 26px;
            border-radius: 15px;
            border: 2px solid rgb(0, 222, 230);
            transition: 0.3s;

            
        }
        :hover{
            // border: 2px solid rgb(32, 248, 255);
        }
    }
    &__item{
        cursor: pointer;
    }
}
.cart--detail--scroll{
    padding: 10px;
    width: 100%;
    height: 70%;
    // background-color: #1431c0;
    overflow-y: scroll;

    

    .cart--detail--main{
        width: 100%;
        // background-color: green;
        display: flex;
        flex-direction: column;

        &--item i:hover{
            cursor: pointer;
            color: red;
        }
        &--item i{
            display: block;
            margin-left: 15px;
        }

        &--item{
            font-size: 14px;
            width: 100%;
            // background-color: #9393bd;
            border: 1px solid $gray-color;
            margin-bottom: 10px;
            display: flex;
            cursor: pointer;
            padding: 10px;
            
            .cart--detail--img{
                object-fit: cover;
            }

            .cart--detail--info{
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &--name{
                    
                }
                &--price{
                    display: flex;
                    align-items: center;
                }
                &--p{
                    margin-right: 5px;
                    color: rgb(206, 0, 0);
                    font-weight: 600;
                }
                &--s{
                    color: rgb(129, 129, 129);
                    text-decoration: line-through;
                    font-size: 13px;
                }
                &--quantity{
                    
                    display: flex;
                    width: fit-content;
                    // background-color: #0000b1;

                    .cart--detail--quantity--sub{

                    }
                    .cart--detail--quantity--num{
                        margin: 0 10px;
                    }
                    .cart--detail--quantity--add{

                    }
                    .btn{
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        line-height: 20px;
                        color: white;
                        background-color: $primary-color;
                        cursor: pointer;
                    }
                }
            }
            

        }
        

        
    }
}
.cart--detail{
    &--total{
        width: 100%;
        height: 40px;
        // background-color: #7DCF3A;
    }
    &--checkout{
        width: 100%;
        margin-top: 5px;
        height: fit-content;
        // background-color: #da9501;
        text-transform: uppercase;

        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 10px;
        &--cart{
            margin-right: 20px;
        }
        .btn{
            padding: 5px 10px;
            cursor: pointer;
            border: 1px solid $gray-color;
            transition: 0.2s;
            // background-color: rgb(161, 156, 156);
        }
        .btn:hover{
            background-color: $primary-color;
            color: white;
        }
    }

}
.cart--detail--scroll::-webkit-scrollbar{
    width: 0px;
    height: 100%;
    background-color: white;
}
.cart--detail--scroll::-webkit-scrollbar-thumb{
    width: 0px;
    // background-color: $gray-color;
    border-radius: 2px;
}


// --------------------------------banner---------------------------------------------




.banner{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-color: $primary-color;
    border-radius: 25px;
}



// --------------------------------main-nav---------------------------------------------
.main{
    margin-top: 20px;
    // background-color: yellow;
    display: flex;
    justify-content: space-between;
}
.main__nav{
    height: 100%;
    width: 24%;
    // background-color: #3650D0;

    .nav__item{
        // background-color: rgb(192, 192, 253);

        &--cat{
            // background-color: #FFD97E;   
            margin-bottom: 10px;
            height: 100%;
            font-size: 14px;

            &--title{
                font-weight: 600;
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            &--items{
                padding:  0 10px;
                // background-color: cyan;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(219, 219, 219, 0.685);
                cursor: pointer;

                

                .cat__item{
                    display: flex;
                    justify-content: space-between;
                    margin: 5px 0;
                }
            }

        }
    }
}
.container__product{
    width: 74%;
    height: 100%;
    margin-bottom: 50px;
}
.pagination{
    width: fit-content;
    display: flex;
    margin: auto;
    height: 40px;

    &__item{
        width: 40px;
        height: 40px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        cursor: pointer;
        border: 1px solid rgba(219, 219, 219, 0.685);

        &--active{
            color: white;
            background-color: $primary-color;
        }
    }
}
.main__products{
    height: 100%;
    width: 100%;
    // background-color: #7bdf94;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    &--item{
        border: 1px solid rgba(219, 219, 219, 0.685);
        height: 430px;
        // background-color: #3650D0;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;

        &--img{
            width: 100%;
            height: 70%;
            object-fit: cover;
            flex: 0;
            border-bottom: 1px solid rgba(219, 219, 219, 0.685);
        }
        &--label{
            width: 60px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            position: absolute;
            background-color: #7DCF3A;
            color: white;
            top: 0;
            right: 0;
        }
        &--info{
            height: 100%;
            flex: 1fr;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;

            &--before{
                cursor: pointer;
                width: 100%;
                height: 60px;
                margin: auto;
                display: flex;
                // background-color: #7DCF3A;
                justify-content: center;
                align-items: center;
                padding: 10px 0;
                border-bottom: 1px solid rgba(219, 219, 219, 0.685);

                i{
                    margin-right: 5px;
                }
            }
            &--before:hover{
                color: white;
                background-color: $primary-color;
            }
            

            &--type{
                margin-top: 5px;
            }
            &--name{
                
            }
            &--name:hover{
                color: $primary-color;
            }
            &--star{
                font-size: 14px;
                color: #ffb709;

                i{
                    margin-right: 2px;
                }
            }
            &--price{
                width: 60%;
                justify-content: space-between;
                // background-color: #3650D0;
                align-items: center;
                display: flex;
                .item--info--price{
                    color: red;
                    font-weight: 600;
                }
                .item--info--sprice{
                    color: rgb(139, 139, 139);
                    font-weight: 300;
                    font-size: 14px;
                    text-decoration: line-through;
                }
            }
        }
    }
    &--item:hover{
        border: 1px solid rgba(177, 177, 177, 0.685);
    }
}

.sale::after{
    width: 60px;
    height: 25px;
    content: "SALE";
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
}




// ----------------------search-------------------------------




.main__search{
    margin-top: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $gray-color;

    &--content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;

        &--sort{
            width: fit-content;
            // background-color: #599e21;
            align-items: center;
            display: flex;

            .content__sort--title{
                margin-right: 10px;
            }
            .content__sort--select{
                width: 250px;
                height: 80%;
                outline: none;
                padding: 5px 0;
            }

        }
        &--search{
            width: fit-content;
            height: 100%;
            display: flex;
            justify-content: center;
            color: white;
            align-items: center;
            // background-color: #3650D0;

            .search--input{
                width: 350px;
                height: 80%;
                background-color: #2f323f;

                input{
                    width: 100%;
                    height: 100%;
                    border: 0;
                    outline: 1px solid $gray-color;
                    padding-left: 10px;
                }

            }
            .search--btn{
                height: 82%;
                padding: 0 15px;
                display: flex;
                align-items: center;
                background-color: $primary-color;
                cursor: pointer;
                transition: 0.3s;

                i{
                    margin-right: 5px;
                }
            }
            .search--btn:hover{
                background-color: #1431c0;
            }


        }
    }

}

// ------------------------------------------footer----------------------------------------------



.footer{
    width: 100%;
    height: 450px;
    background-color: #3650D0;
}



// ----------------------------------------detail product----------------------------------------


.detail__product{
    width: 100%;
    height: 550px;
    // background-color: #1431c0;
    display: flex;
    justify-content: space-between;

    &--imgs{
        width: 48%;
        height: fit-content;
        // background-color: #FFD97E;
        display: flex;

        &--main{
            width: 100%;
            height: fit-content;
            position: relative;
            // background-color: green;
            
            img{
                width: 100%;
            }

            .dots__imgs{
                position: absolute;
                bottom: 20px;
                left: 0;
                transform: translate(-50%,50%);
                display: flex;  
                align-items: center;

                i{  
                    display: block;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    cursor: pointer;
                    
                    background-color: $primary-color;
                }

                i:nth-child(1){
                    margin-right: 5px;
                }
                i:nth-child(2){
                    margin-left: 5px;
                }
            }
        }


        &--ref{
            cursor: pointer;
            width: 110px;
            // background-color: #1a2458;
            display: flex;
            flex-direction: column;

            &--1{
                width: 100%;
                margin-bottom: 10px;

                img{
                    width: 100%;
                    border: 1px solid $gray-color;
                }
            }

        }
    }
    &--info{
        width: 48%;
        height: 100%;

        

        .label--detail{
            margin-bottom: 5px;
            font-weight: bold;
        }
        &--name{
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        &--status{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            color: rgb(192, 192, 192);
            margin-bottom: 15px;
        }

        &--star{
            display: flex;
            margin-bottom: 15px;

            i{
                margin-right: 2px;
                color: #ffb709;
            }
        }
        &--price{
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            :first-child{
                color: red;
                font-weight: 600;
                font-size: 23px;
                margin-right: 10px;
            }
            :last-child{
                color: rgb(168, 168, 168);
                font-size: 14px;
                text-decoration: line-through;
            }
        }
        &--color{
            display: flex;
            margin-bottom: 25px;

           
        }
        &--size{
            display: flex;
            margin-bottom: 25px;
        }
        .sizes--detail--item{
            width: fit-content;
            padding: 0 10px;
            height: 40px;
            background-color: $primary-color;
            line-height: 40px;
            text-align: center;
            border-radius: 5px;
            margin-right: 10px;
            color: white;
            cursor: pointer;
        }
        .sizes--detail--item--out{
            background-color: $gray-color;
        }

        &--qc{
            width: 100%;
            height: 60px;
            // background-color: #7DCF3A;
            display: flex;
            margin-right: 30px;

            &--cart{
                width: 220px;
                text-transform: uppercase;
                height: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary-color;
                cursor: pointer;
                color: white;
            }

            &--quantity{
                display: flex;
                align-items: center;
                border: 1px solid $gray-color;
                margin-right: 20px;

                input{
                    width: 60px;
                    height: 100%;
                    text-align: center;
                    outline: none;
                    border: 0;
                    border-right: 1px solid $gray-color;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 100%;
                    // margin-right: 20px;

                    :nth-child(1){
                        border-bottom: 1px solid $gray-color;
                    }
                    
                    span{
                        width: 100%;
                        height: 100%;
                        line-height: 30px;
                        text-align: center;
                        display: block;
                        cursor: pointer;

                        
                        // border: 1px solid $gray-color;
                    }
                }

            }
        }
    }
}

// ----- info detail ---------


.nav__info{
    width: 100%;
    // background-color: #ffb709;
    height: fit-content;
    line-height: 1.8;
    margin-bottom: 30px;

    .nav__main{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $gray-color;
        margin-bottom: 20px;

        &--item{
            cursor: pointer;
            width: fit-content;
            height: 50px;
            // background-color: #7DCF3A;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 15px;  
            text-transform: uppercase;
        }
        .active{
            font-weight: bold;
            border-bottom: 3px solid black;
        }
    }
    

}

.info__main{
    font-size: 15px;
    width: 100%;
    height: 100%;
    line-height: 1.8;

    .bold{
        font-weight: 600;
    }

    &--info{
        width: 100%;
        height: 100%;
        // background-color: #e0e0e0;
        padding: 10px 0;

        &--name{
            margin-bottom: 7px;
        }

        &--detail{

            .list--info{
                margin: 0;
                padding-left: 25px;
            }
            
            .brief--info{
                margin-bottom: 7px;
            }
            .more--info{
                margin-bottom: 10px;
            }
        }


    }
}




//-----------------cart page-----------------

.cart__page{
    width: 100%;
    height: 100%;
    // background-color: #7DCF3A;

    &--title{
        margin-bottom: 30px;
        font-size: 23px;
        font-weight: 600;

    }
    &--main{
        width: 100%;
        height: fit-content;
        // background-color: #ffb709;

        &--title{
            // background-color: #1431c0;
            display: grid;
            grid-template-columns: 0.6fr 2fr 1fr 1fr 1fr;
            grid-template-rows: 40px;
            font-weight: 600;
            border-bottom: 1px solid $gray-color;

            :nth-child(2){
                padding-left: 10px;
            }

            .title--total{
                text-align: right;
            }


        }

        &--item{
            height: 150px;
            display: grid;
            grid-template-columns: 0.6fr 2fr 1fr 1fr 1fr;
            grid-template-rows: 100%;
            padding: 10px 0px;
            border-bottom: 1px solid $gray-color;

            &--img{
                // background-color: aqua;
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: cover;

                img{
                    width: 100%;
                    cursor: pointer;
                    // object-fit: cover;
                }
            }

            &--name{
                padding-left: 10px;
                // background-color: antiquewhite;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                div{
                    width: fit-content;
                    cursor: pointer;
                }
                .name{
                    font-weight: 600;
                }
                .color{
                   font-size: 14px;     
                }
                .size{
                    font-size: 15px;
                }
                .delete{
                    text-decoration: underline;
                }
                .delete:hover{
                    color: red;
                }
            }
            &--price{
                display: flex;
                align-items: center;
                // background-color: rgb(201, 185, 165);
            }
            &--quantity{
                display: flex;
                align-items: center;
                // background-color: rgb(216, 133, 25);

                :first-child,:last-child{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(224, 224, 224);
                    cursor: pointer;

                }
                :first-child:hover,:last-child:hover{
                    background-color: $primary-color;
                    color: white;
                }
                :nth-child(2){
                    width: 50px;
                    height: 30px;
                    text-align: center;
                    outline: none;
                }

            }
            &--total{
                display: flex;
                justify-content: right;
                align-items: center;
                // background-color: rgb(138, 95, 40);
            }
        }
        

    }
    &--checkout{
        margin-top: 30px;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: space-between;

        &--note{
            width: 50%;
            // background-color: #ffb709;
            div{
                margin-bottom: 10px;
            }

            textarea{
                outline: none;
                padding-top: 10px;
                padding-left: 10px;
            }
        }
        &--exc{
            width: 50%;
            // background-color: #1431c0;
            text-align: right;

            :first-child{
                font-size: 18px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            :nth-child(2){
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 5px;
                color: red;
            }
            :last-child{
                margin-top: 20px;
                width: 250px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                float: right;
                color: white;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 20px;
                background-color: $primary-color;
            }
        }
    }
}

