* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  padding-top: 70px;
  width: 1140px;
  margin: auto;
}

.none {
  display: none;
}

.header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcfcfc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(197, 197, 197, 0.466);
  z-index: 10;
}

.header .header__close {
  display: none;
}

.header .header__menu {
  display: none;
}

.header .header__layer {
  width: 600px !important;
  height: 400vh;
  position: absolute;
  z-index: 1;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__logo {
  width: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo--item {
  width: 80px;
  height: 80px;
  background: url("../logo/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header__items {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header__cart {
  margin-right: 20px;
  width: 35px;
  height: 30px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  cursor: pointer;
}

.header__cart--rounded {
  width: 35px;
  height: 35px;
}

.header__cart--rounded .user--default {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 10px !important;
}

.header__cart--rounded i {
  line-height: 35px;
  font-size: 13px;
}

.header__cart--rounded--img {
  width: 35px;
  border-radius: 17.5px;
}

.header__cart--detail {
  border-radius: 10px;
  border: 3px solid rgba(219, 219, 219, 0.685);
  right: 50px;
  top: 60px;
  position: absolute;
  width: 470px;
  background-color: white;
  height: 300px;
  -webkit-box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.57);
}

.header__cart--detail .cart--detail--total {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.header__cart--detail .cart--detail--total :first-child {
  margin-right: 10px;
}

.header__cart--detail .cart--detail--total :last-child {
  color: red;
  font-weight: 600;
  font-size: 18px;
}

.header__cart--rounded {
  width: 35px;
  height: 35px;
  background-color: #0010a3;
  text-align: center;
  line-height: 35px;
  border-radius: 17.5px;
  padding-left: -15px;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.27);
}

.header__cart--rounded i {
  z-index: 2;
  color: white;
}

.header__cart--number {
  position: absolute;
  background-color: red;
  font-size: 12px;
  border-radius: 10px;
  color: white;
  width: 17px;
  height: 17px;
  line-height: 20px;
  right: -5px;
  top: -8px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.27);
}

.header__btn--login {
  width: 22%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__btn--login--rounded {
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  border-radius: 15px;
  border: 2px solid #00dee6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__item {
  cursor: pointer;
}

.cart--detail--scroll {
  padding: 10px;
  width: 100%;
  height: 70%;
  overflow-y: scroll;
}

.cart--detail--scroll .cart--detail--main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart--detail--scroll .cart--detail--main--item i:hover {
  cursor: pointer;
  color: red;
}

.cart--detail--scroll .cart--detail--main--item i {
  display: block;
  margin-left: 15px;
}

.cart--detail--scroll .cart--detail--main--item {
  font-size: 14px;
  width: 100%;
  border: 1px solid rgba(219, 219, 219, 0.685);
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 10px;
}

.cart--detail--scroll .cart--detail--main--item .cart--detail--img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cart--detail--scroll .cart--detail--main--item .cart--detail--info {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart--detail--scroll .cart--detail--main--item .cart--detail--info--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart--detail--scroll .cart--detail--main--item .cart--detail--info--p {
  margin-right: 5px;
  color: #ce0000;
  font-weight: 600;
}

.cart--detail--scroll .cart--detail--main--item .cart--detail--info--s {
  color: #818181;
  text-decoration: line-through;
  font-size: 13px;
}

.cart--detail--scroll .cart--detail--main--item .cart--detail--info--quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cart--detail--scroll .cart--detail--main--item .cart--detail--info--quantity .cart--detail--quantity--num {
  margin: 0 10px;
}

.cart--detail--scroll .cart--detail--main--item .cart--detail--info--quantity .btn {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: white;
  background-color: #3650d0;
  cursor: pointer;
}

.cart--detail--total {
  width: 100%;
  height: 40px;
}

.cart--detail--checkout {
  width: 100%;
  margin-top: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.cart--detail--checkout--cart {
  margin-right: 20px;
}

.cart--detail--checkout .btn {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid rgba(219, 219, 219, 0.685);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cart--detail--checkout .btn:hover {
  background-color: #3650d0;
  color: white;
}

.cart--detail--scroll::-webkit-scrollbar {
  width: 0px;
  height: 100%;
  background-color: white;
}

.cart--detail--scroll::-webkit-scrollbar-thumb {
  width: 0px;
  border-radius: 2px;
}

.banner {
  width: 100%;
  height: 400px;
  background: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

.main {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .home__page {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .home__page--banner--brand {
  width: 100%;
  height: 300px;
  background: url("../images/brand__home.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.main__nav {
  height: 100%;
  width: 24%;
}

.main__nav .filter__close {
  display: none;
}

.main__nav .nav__item--cat {
  margin-bottom: 10px;
  height: 100%;
  font-size: 14px;
}

.main__nav .nav__item--cat--title {
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.main__nav .nav__item--cat--title span {
  padding-left: 5px;
}

.main__nav .nav__item--cat--title--mobile {
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.main__nav .nav__item--cat--items {
  padding: 0 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(219, 219, 219, 0.685);
  cursor: pointer;
}

.main__nav .nav__item--cat--items .cat__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

.products__layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
  z-index: 10;
}

.container__product {
  width: 74%;
  height: 100%;
  margin-bottom: 50px;
}

.container__product .no__products {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container__product .fade__in {
  -webkit-animation: fades 2.5s;
          animation: fades 2.5s;
}

@-webkit-keyframes fades {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fades {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 40px;
}

.pagination__item {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid rgba(219, 219, 219, 0.685);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination__item--active {
  color: white;
  background-color: #3650d0;
}

.pagination__item:hover {
  background-color: #1431c0;
  color: white;
}

.main__products {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin-bottom: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.main__products--item {
  border: 1px solid rgba(219, 219, 219, 0.685);
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.main__products--item--img, .main__products--item--img-n {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__products--item--img-n:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-size: cover;
}

.main__products--item--label {
  width: 60px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  background-color: #7dcf3a;
  color: white;
  top: 0;
  right: 0;
}

.main__products--item--info {
  height: 100%;
  -webkit-box-flex: 1fr;
      -ms-flex: 1fr;
          flex: 1fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.main__products--item--info--before {
  cursor: pointer;
  width: 100%;
  height: 60px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(219, 219, 219, 0.685);
}

.main__products--item--info--before i {
  margin-right: 5px;
}

.main__products--item--info--before:hover {
  color: white;
  background-color: #3650d0;
}

.main__products--item--info--type {
  margin-top: 5px;
}

.main__products--item--info--name:hover {
  color: #3650d0;
}

.main__products--item--info--star {
  font-size: 14px;
  color: #ffb709;
}

.main__products--item--info--star i {
  margin-right: 2px;
}

.main__products--item--info--price {
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__products--item--info--price .item--info--price {
  color: red;
  margin-right: 10px;
  font-weight: 600;
}

.main__products--item--info--price .item--info--sprice {
  color: #8b8b8b;
  font-weight: 300;
  font-size: 14px;
  text-decoration: line-through;
}

.main__products--item:hover {
  border: 1px solid rgba(177, 177, 177, 0.685);
}

.none-link {
  text-decoration: none;
  color: black;
}

.sale::after {
  width: 60px;
  height: 25px;
  content: "SALE";
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

.main__search {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(219, 219, 219, 0.685);
}

.main__search--content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5px;
}

.main__search--content--sort {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__search--content--sort .content__sort--title {
  margin-right: 10px;
}

.main__search--content--sort .content__sort--select {
  width: 250px;
  height: 80%;
  outline: none;
  padding: 5px 0;
}

.main__search--content .btn {
  outline: none;
  border: 0;
}

.main__search--content--search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__search--content--search .search--input {
  width: 350px;
  height: 80%;
  background-color: #2f323f;
}

.main__search--content--search .search--input input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 1px solid rgba(219, 219, 219, 0.685);
  padding-left: 10px;
}

.main__search--content--search .search--btn {
  height: 82%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3650d0;
  cursor: pointer;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__search--content--search .search--btn i {
  margin-right: 5px;
}

.main__search--content--search .search--btn:hover {
  background-color: #1431c0;
}

.main__product--list .filter__products {
  display: none;
}

.footer {
  width: 100%;
  height: 450px;
  background-color: #3650d0;
}

.detail__product {
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail__product--imgs {
  width: 48%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail__product--imgs--main {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.detail__product--imgs--main img {
  width: 100%;
  height: 417px;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail__product--imgs--main .dots__imgs {
  position: absolute;
  bottom: -15px;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail__product--imgs--main .dots__imgs i {
  display: block;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
  background-color: #3650d0;
}

.detail__product--imgs--main .dots__imgs i:nth-child(1) {
  margin-right: 5px;
}

.detail__product--imgs--main .dots__imgs i:nth-child(2) {
  margin-left: 5px;
}

.detail__product--imgs--ref {
  cursor: pointer;
  width: 110px;
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.detail__product--imgs--ref .active {
  border: 3px solid #3650d0;
}

.detail__product--imgs--ref--1 {
  width: 100%;
  margin-bottom: 10px;
}

.detail__product--imgs--ref--1 img {
  width: 100%;
  border: 1px solid rgba(219, 219, 219, 0.685);
}

.detail__product--info {
  width: 48%;
  height: 100%;
}

.detail__product--info .active {
  background-color: #3650d0 !important;
}

.detail__product--info .label--detail {
  margin-bottom: 5px;
  font-weight: bold;
}

.detail__product--info--name {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.detail__product--info--status {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: silver;
  margin-bottom: 15px;
}

.detail__product--info--star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.detail__product--info--star i {
  margin-right: 2px;
  color: #ffb709;
}

.detail__product--info--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.detail__product--info--price-p {
  color: red;
  font-weight: 600;
  font-size: 23px;
  margin-right: 10px;
}

.detail__product--info--price-s {
  color: #a8a8a8;
  font-size: 14px;
  text-decoration: line-through;
}

.detail__product--info--color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.detail__product--info--size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.detail__product--info .sizes--detail--item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  height: 40px;
  background-color: #d5d5d5;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.detail__product--info .sizes--detail--item--out {
  background-color: rgba(219, 219, 219, 0.685);
}

.detail__product--info--qc {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.detail__product--info--qc--cart {
  width: 220px;
  text-transform: uppercase;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3650d0;
  cursor: pointer;
  color: white;
}

.detail__product--info--qc--quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(219, 219, 219, 0.685);
  margin-right: 20px;
}

.detail__product--info--qc--quantity input {
  width: 60px;
  height: 100%;
  text-align: center;
  outline: none;
  border: 0;
  border-right: 1px solid rgba(219, 219, 219, 0.685);
}

.detail__product--info--qc--quantity div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 100%;
}

.detail__product--info--qc--quantity div :nth-child(1) {
  border-bottom: 1px solid rgba(219, 219, 219, 0.685);
}

.detail__product--info--qc--quantity div span {
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  display: block;
  cursor: pointer;
}

.detail__container {
  width: 100%;
}

.nav__info {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1.8;
  margin-bottom: 30px;
}

.nav__info .nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(219, 219, 219, 0.685);
  margin-bottom: 20px;
}

.nav__info .nav__main--item {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav__info .nav__main .active {
  font-weight: bold;
  border-bottom: 3px solid black;
}

.info__main {
  font-size: 15px;
  width: 100%;
  height: 100%;
  line-height: 1.8;
}

.info__main .bold {
  font-weight: 600;
}

.info__main--info {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.info__main--info--name {
  margin-bottom: 7px;
}

.info__main--info--detail .list--info {
  margin: 0;
  padding-left: 25px;
}

.info__main--info--detail .brief--info {
  margin-bottom: 7px;
}

.info__main--info--detail .more--info {
  margin-bottom: 10px;
}

.cart__page {
  width: 100%;
  min-height: 650px;
}

.cart__page .no__cart {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.cart__page--title {
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 600;
}

.cart__page--main {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-animation: fades 1.5s;
          animation: fades 1.5s;
}

.cart__page--main--title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr 2fr 1fr 1fr 1fr;
      grid-template-columns: 0.6fr 2fr 1fr 1fr 1fr;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  font-weight: 600;
  border-bottom: 1px solid rgba(219, 219, 219, 0.685);
}

.cart__page--main--title :nth-child(2) {
  padding-left: 10px;
}

.cart__page--main--title .title--total {
  text-align: right;
}

.cart__page--main--item {
  height: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr 2fr 1fr 1fr 1fr;
      grid-template-columns: 0.6fr 2fr 1fr 1fr 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(219, 219, 219, 0.685);
}

.cart__page--main--item--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__page--main--item--img img {
  width: 100%;
  cursor: pointer;
}

.cart__page--main--item--name {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__page--main--item--name div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.cart__page--main--item--name .name {
  font-weight: 600;
}

.cart__page--main--item--name .color {
  font-size: 14px;
}

.cart__page--main--item--name .size {
  font-size: 15px;
}

.cart__page--main--item--name .delete {
  text-decoration: underline;
}

.cart__page--main--item--name .delete:hover {
  color: red;
}

.cart__page--main--item--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__page--main--item--quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__page--main--item--quantity :first-child,
.cart__page--main--item--quantity :last-child {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0e0e0;
  cursor: pointer;
}

.cart__page--main--item--quantity :first-child:hover,
.cart__page--main--item--quantity :last-child:hover {
  background-color: #3650d0;
  color: white;
}

.cart__page--main--item--quantity :nth-child(2) {
  width: 50px;
  height: 30px;
  text-align: center;
  outline: none;
}

.cart__page--main--item--total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__page--checkout {
  margin-top: 30px;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__page--checkout--note {
  width: 50%;
}

.cart__page--checkout--note div {
  margin-bottom: 10px;
}

.cart__page--checkout--note textarea {
  outline: none;
  padding-top: 10px;
  padding-left: 10px;
}

.cart__page--checkout--exc {
  width: 50%;
  text-align: right;
}

.cart__page--checkout--exc :first-child {
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.cart__page--checkout--exc :nth-child(2) {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: red;
}

.cart__page--checkout--exc :last-child {
  margin-top: 20px;
  width: 250px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #3650d0;
}

.login__page {
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
}

.login__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__main--left {
  width: 59%;
  height: 100%;
  background: url("../images/login__main.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.login__main .lotie {
  width: 300px;
  height: 300px;
}

.login__main .display--none {
  -webkit-animation: fade 0.8s;
          animation: fade 0.8s;
}

.login__main .display {
  -webkit-animation: displayS 0.8s;
          animation: displayS 0.8s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    margin-left: 100px;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-left: 100px;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes displayS {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
    display: none;
  }
}

@keyframes displayS {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
    display: none;
  }
}

.login__main--right {
  width: 39%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login__main--right .loading--login {
  -webkit-animation: loadingLogin 2.5s infinite;
          animation: loadingLogin 2.5s infinite;
}

@-webkit-keyframes loadingLogin {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    opacity: 0;
  }
}

@keyframes loadingLogin {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    opacity: 0;
  }
}

.login__main--right--login {
  width: 100%;
  height: 100%;
}

.login__main--right--login--title {
  height: 120px;
  margin-bottom: 40px;
}

.login__main--right--login--title .title--1 {
  color: #a5a5a5;
  text-transform: uppercase;
}

.login__main--right--login--title .title--2 {
  margin: 10px 0px;
  font-size: 55px;
  font-family: "Patrick Hand", cursive;
}

.login__main--right--login--title .title--3 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login__main--right--login--title .title--3 .redirect--login {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 15px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #3650d0;
}

.login__main--right--login--title .title--3 .redirect--login:hover {
  background-color: #2546e9;
  margin-top: 2px;
}

.login__main--right--login--form {
  width: 100%;
}

.login__main--right--login--form .login__page--form--label {
  margin-bottom: 8px;
}

.login__main--right--login--form input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #a5a5a5;
}

.login__main--right--login--form input:focus {
  outline: none;
}

.login__main--right--login--form .btn--login {
  border: 0;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  margin-bottom: 25px;
  background-color: #3650d0;
}

.login__main--right--login--form .btn--login:hover {
  background-color: rgba(73, 53, 250, 0.945);
}

.login__main--right--login--form .terms {
  font-size: 12px;
  color: #a5a5a5;
}

.login__main--right--login--form .terms span {
  color: #3650d0;
}

.number--cart::-webkit-inner-spin-button,
.number--cart::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.loading--product {
  width: 40px;
  height: 40px;
  margin: auto;
  -webkit-animation: loading 2.5s;
          animation: loading 2.5s;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home__categories {
  width: 100%;
  height: 120px;
  margin-top: 30px;
  position: relative;
}

.home__categories--btn--sub {
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.home__categories--btn--add {
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.home__categories button {
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(219, 219, 219, 0.685);
  outline: none;
  background-color: aliceblue;
}

.home__categories .move {
  -webkit-animation: moves 1s;
          animation: moves 1s;
}

@-webkit-keyframes moves {
  0% {
    margin-left: 240px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes moves {
  0% {
    margin-left: 240px;
  }
  100% {
    margin-left: 0px;
  }
}

.home__categories--main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__categories--main--item {
  width: 240px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.new__shoes {
  margin-top: 50px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 40px;
}

.new__shoes .prominent__shoes {
  height: 100%;
  margin-bottom: 100px !important;
}

.new__shoes .prominent__shoes--list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.new__shoes--title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  margin: auto;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.new__shoes--list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr 1fr 1fr;
      grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: 20px;
}

.new__shoes--list--item {
  cursor: pointer;
}

.new__shoes .item--shoes {
  height: 410px !important;
}

.new__shoes .item--shoes--img {
  width: 100%;
  min-height: 240px;
  overflow: hidden;
  border-bottom: 1px solid rgba(219, 219, 219, 0.685);
}

.new__shoes .item--shoes--img img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  .container {
    padding-top: 50px;
    width: 480px;
    height: 100%;
  }
  .main {
    max-width: 450px;
    margin: auto;
  }
  .banner {
    margin: 5px 0px;
    height: 145px;
    border-radius: 0px;
    background-size: contain;
  }
  .home__categories {
    margin-top: 0px;
    width: 100%;
    height: 80px;
  }
  .home__categories img {
    width: 90px;
  }
  .new__shoes {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .new__shoes--title {
    margin-bottom: 15px;
  }
  .new__shoes--list {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .new__shoes--list .new__shoes--list--item {
    display: none;
  }
  .new__shoes--list .main__products--item {
    width: 47%;
  }
  .home__page--banner--brand {
    height: 150px !important;
    background-size: cover;
  }
  .prominent__shoes--list {
    width: 90% !important;
    height: 100%;
    margin: auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .prominent__shoes--list .item--shoes {
    width: 47%;
  }
  .footer {
    width: 480px;
    height: 450px;
    margin: auto;
    background-color: #2f323f;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .login__page {
    margin-bottom: 0px;
  }
  .login__main {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login__main--leftd {
    display: none;
  }
  .login__main--right {
    width: 90%;
    margin: auto;
  }
  .detail__container {
    max-width: 480px;
    padding-top: 35px;
  }
  .detail__container .detail__product {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 25px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .detail__container .detail__product .detail__product--imgs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .detail__container .detail__product .detail__product--imgs--main img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    height: 200px;
  }
  .detail__container .detail__product .detail__product--imgs--ref {
    width: 65%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  .detail__container .detail__product .detail__product--imgs--ref--1 {
    width: 60px !important;
  }
  .detail__container .detail__product .detail__product--imgs .dots__imgs {
    display: none;
  }
  .detail__container .detail__product--info {
    width: 100% !important;
  }
  .detail__container .detail__product--info--name {
    font-size: 20px;
    margin-bottom: 10px !important;
  }
  .detail__container .detail__product--info--price {
    margin-bottom: 10px;
  }
  .main__product--list {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__product--list .filter__products {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #3650d0;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 17px;
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-animation: none;
            animation: none;
  }
  .main__product--list .filter__products:hover {
    background-color: #1431c0;
  }
  .main__product--list .main__nav {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: fixed !important;
    width: 280px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #0e0b22;
    z-index: 11;
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main__product--list .main__nav .nav__item--cat--items {
    height: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: none;
  }
  .main__search {
    width: 90%;
    margin-top: 30px !important;
    margin: auto;
    height: 40px !important;
    margin-bottom: 10px;
    border: 0;
  }
  .main__search--content {
    padding: 0;
  }
  .content__sort--select {
    width: 182px !important;
    height: 40px !important;
  }
  .search--input {
    width: 192px !important;
  }
  .main__search--content--sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content__sort--title {
    font-size: 14px;
    display: none;
  }
  .main__search--content--search .search--btn, .main__search--content--search .search--input {
    height: 100% !important;
  }
  .main__search--content--search .search--btn {
    text-align: center;
  }
  .main__search--content--search .search--btn .search--btn--text {
    display: none;
  }
  .main__search--content--search .search--btn i {
    margin-right: 0px;
  }
  .container__product {
    width: 100%;
  }
  .container__product .main__products {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container__product .main__products .main__products--item {
    height: 390px;
  }
  .cart__page {
    padding-top: 30px;
  }
  .cart__page--title {
    margin-bottom: 10px;
  }
  .cart__page--main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 393px;
        grid-template-rows: 393px;
    gap: 15px;
  }
  .cart__page--main--title {
    display: none;
  }
  .cart__page--main--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid rgba(219, 219, 219, 0.685);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
  }
  .cart__page--main--item--name {
    padding-left: 0px;
  }
  .cart__page--main--item--total {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .cart__page--checkout--note {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  .cart__page--checkout--exc :last-child {
    width: 80%;
  }
  .cart__page--checkout {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .cart__page--checkout textarea {
    width: 88%;
    height: 75px;
  }
  .cart__page--checkout--exc {
    width: 100%;
  }
  .cart__page--main--item--name {
    position: relative;
  }
  .cart__page--main--item--name .delete {
    position: absolute;
    bottom: -85px;
    right: 0px;
  }
  .cart__page--main--item--price {
    color: red;
  }
  .cart__page--main--item--name, .cart__page--main--item--price, .cart__page--main--item--quantity, .cart__page--main--item--total {
    margin-top: 3px !important;
  }
  .header__items {
    display: block;
    width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    height: 600vh;
    padding: 10px;
    font-size: 20px;
    background-color: #191c27;
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 6;
  }
  .header__items .header__item {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-bottom: 1px solid #3b3e49;
    color: white !important;
  }
  .header__items .header__item a {
    color: white;
  }
  .header__items .header__close {
    display: block;
    color: #ff8989;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header__items .header__close i {
    font-size: 30px;
  }
  #header__nav {
    z-index: 7;
    background-color: #1431c0;
  }
  #header__nav:checked ~ .header__items {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  #header__nav:checked ~ .header__layer {
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  .header__logo {
    display: none;
  }
  .header__menu {
    width: 40%;
    display: block !important;
    font-size: 25px;
  }
  .header__btn--login {
    width: 60%;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .header {
    padding: 0 15px;
  }
  .header__btn--login--rounded {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 15px;
  }
  #products__nav:checked ~ .main__nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  #products__nav:checked ~ .products__layer {
    display: block;
  }
  .filter__close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color: #fd9090;
  }
  #filter__gender:checked ~ .items__gender {
    display: block;
    margin-bottom: 60px;
  }
  #filter__brand:checked ~ .items--brand {
    display: block;
    margin-bottom: 375px;
  }
  #filter__price:checked ~ .items--price {
    display: block;
  }
  .nav__item--cat--items {
    border: 0 !important;
  }
  .filter__close {
    display: block;
  }
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width: 768px) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  /* Styles */
  .footer {
    width: 100%;
  }
}

@media only screen and (max-width: 1145px) and (min-width: 480px) {
  /* Styles */
  .footer {
    width: 1145px;
  }
}
/*# sourceMappingURL=style.css.map */